mixin video(video)
    a(href=``).video-mixin
        div.video-mixin__thumb(style=`background:url(${video["snippet"]["thumbnails"]["medium"]["url"]}) 50% 50% / cover no-repeat`)
        div.video-mixin__data
            h1.video-mixin__title #{video["snippet"]["title"]};
            small.video-mixin__dec #{video["snippet"]["description"]};            
            div.video-mixin__meta
                span #{video["snippet"]["channelTitle"]}
                span #{video["snippet"]["publishTime"].substr(0,10)}
